---
/*const toDoComputed = ({ itemsLeft, limpiarTarea }) => {
}*/
---

<section class="flex gap-4 p-4 mt-8 justify-between bg-[#1F2833] rounded-b-md">
	<span class="text-gray-400">Tareas restantes</span>
	<button class="text-gray-400">Limpiar</button>
</section>