---


---

<article class="flex gap-4 p-4 mt-6 border-y border-y-[#66FCF1] rounded-md bg-[#1F2833]">
	<button class="rounded-md border-2 border-[#66FCF1] w-6 h-6"></button>
	<p>titulo</p>
	<button class="border-2 border-[#66FCF1] ml-auto rounded-md w-6 h-6"></button>
</article>

