---
import { Titulo } from '../config';
---

<header class="p-[8px] mt-[32px] mx-auto mb-[8px] md:max-w-xl">
	<div class="flex justify-around items-center">
		<h2 class="text-white text-3xl uppercase font-bold">
			{Titulo}
		</h2>

		<img src="/logoLinktic.svg" alt="linkTIC" class="w-[85px] h-[85px]"/>
	</div>
</header>
