---
import Header from "../components/Header.astro";
import CrearTarea from "../components/tareas/CrearTarea.astro";
//import ListaTareas from "../components/tareas/ListaTareas.astro";
//import FiltraTareas from "../components/tareas/FiltraTareas.astro";
---

<main class="mx-auto px-4 mt-8 md:max-w-xl">

	<CrearTarea crearToDo={CrearTarea}/>

	<!--<ListaTareas lista={ListaTareas}/>-->

	<!--<FiltraTareas filtro={FiltraTareas} /> -->
	
</main>